@media (min-width: 1025px) {
    .second {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1500px;
        width: auto;
        .second_presentation {
            display: flex;
            width: 70%;
            flex-wrap: wrap;
            .text {
                font-family: 'Ubuntu', sans-serif;
                display: flex; 
                flex-direction: column;
                width: 50%;
                padding-top: 20px;
                h4 {
                    font-size: 40px;
                    width: 60%;
                }
                p {
                    line-height: 30px;
                    width: 60%;
                }
            }
            .photo {
                width: 50%;
                padding-top: 20px;
                img {
                border-radius: 50%;
                width: 350px;
                }
            }
        }
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .second {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1500px;
        .second_presentation {
            display: flex;
            width: 70%;
            flex-wrap: wrap;
            .text {
                font-family: 'Ubuntu', sans-serif;
                display: flex; 
                flex-direction: column;
                width: 45%;
                padding-top: 20px;
                h4 {
                    font-size: 30px;
                    width: 60%;
                }
                p {
                    line-height: 20px;
                    width: 80%;
                    font-size: 15px;
                }
            }
            .photo {
                width: 55%;
                padding-top: 20px;
                img {
                border-radius: 50%;
                width: 270px;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 599px) {
    .second {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 900px;
        .second_presentation {
            display: flex;
            width: 70%;
            flex-direction: column;
            align-items: center;
            .text {
                font-family: 'Ubuntu', sans-serif;
                display: flex; 
                flex-direction: column;
                text-align: center;
                align-items: center;
                h4 {
                    font-size: 15px;
                    width: 80%;
                }
                p {
                    line-height: 15px;
                    width: 80%;
                    font-size: 12px;
                }
            }
            .photo {
                padding-top: 2px;
                img {
                border-radius: 50%;
                width: 100px;
                }
            }
        }
    }
}